/* https://ginneko-atelier.com/blogs/entry393/ を参考に作成 */
.select {
  background: #cfe2f3; /* 水色 */
  height: 40px;
  /*  width: 300px;  */
  width: auto;
  border-radius: 5px;
  /* position: relative; */
  position: absolute;
  right: 20px;
  z-index: 1;
}

.select::after {
  position: absolute;
  content: '';
  width: 8px;
  height: 8px;
  right: 10px;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  z-index: -1;
}

select {
  /* 初期化 */
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: none;
  color: #333;
  font-size: 16px;
  width: 100%;
  height: 100%;
  padding: 0 10px;
}
