.h2_ver1 {

  padding: 1rem 2rem;
  border-left: 6px double #99CCCC;
  background: #f4f4f4;
  display: inline-block;

}       

.h1_ver1 {

  border-bottom: solid 2px orange; 
  display: inline-block;

}       
